.home__hero {
    border-block-start: var(--ui-border-subtle);
    padding-block: var(--ui-spacing-cushion);
}

.home__title-highlight {
    color: var(--ui-color-foreground-accent);
}

.home__access {
    display: flex;
    flex-wrap: wrap;
    gap: var(--ui-spacing-unit);
}

.home__logged-in {
    margin-block-end: var(--ui-spacing-unit);
}

.home__section {
    border-block-start: var(--ui-border-subtle);
    margin-block-end: var(--ui-spacing-cushion);
    padding-block-start: var(--ui-spacing-cushion);

    h2 {
        margin-block-end: var(--ui-spacing-unit);
    }
}