.home__content {
    padding-block-end: var(--ui-spacing-cushion);
}

.home__title-highlight {
    color: var(--ui-color-foreground-accent);
}

.home__access {
    display: flex;
    flex-wrap: wrap;
    gap: var(--ui-spacing-unit);
}

.home__logged-in {
    margin-block-end: var(--ui-spacing-unit);
}