.progress-panel {
    --progress-panel__width: var(--spacing-32);

    block-size: 100%;
    box-shadow: var(--ui-shadow-ambient);
    display: none;
    flex-direction: column;
    inset-block-start: 0;
    inset-inline-end: 0;
    inset-inline-start: auto;
    max-inline-size: calc(100% - (var(--ui-spacing-unit) * 2));
    inline-size: var(--progress-panel__width);
    opacity: 0;
    overflow: auto;
    padding-inline-end: calc(0px + env(safe-area-inset-left));
    position: fixed;

    @supports (overlay: auto) {
        transition:
            opacity var(--lesson-syllabus-transition),
            translate var(--lesson-syllabus-transition),
            display var(--lesson-syllabus-transition) allow-discrete,
            overlay var(--lesson-syllabus-transition) allow-discrete;
        translate: 100% 0;
    }

    &:popover-open {
        display: flex;
        opacity: 1;
        transition:
            opacity var(--lesson-syllabus-transition),
            translate var(--lesson-syllabus-transition),
            display var(--lesson-syllabus-transition) allow-discrete,
            overlay var(--lesson-syllabus-transition) allow-discrete;
        translate: 0 0;

        @starting-style {
            opacity: 0;
            translate: 100% 0;
        }
    }
}

:is(.progress-panel__header, .progress-panel__footer, .progress-panel__course)

:is(.progress-panel__header, .progress-panel__footer) {
    background: color-mix(in srgb, var(--panel-background-color), transparent 10%);
    backdrop-filter: blur(2px);
    padding-inline: var(--site-block-padding, var(--ui-spacing-cushion));
}

.progress-panel__header {
    align-items: center;
    display: flex;
    gap: var(--ui-spacing-unit, 1rem);
    justify-content: space-between;
    min-block-size: var(--site-header-height);
    padding-block: .5rem;

}

.progress-panel__footer {
    padding-block-end: calc(var(--site-block-padding, var(--ui-spacing-cushion)) + env(safe-area-inset-bottom));
    padding-block-start: calc(var(--site-block-padding, var(--ui-spacing-cushion)) / 2);
}

.progress-panel__brand {
    display: block;
    font-family: var(--ui-typography-display-title-font-family);
    font-size: 1.5em;
    letter-spacing: var(--ui-typography-display-title-letter-spacing);
    text-fit: grow;
    text-transform:  var(--ui-typography-display-title-text-transform);
    word-spacing: var(--ui-typography-display-title-word-spacing);
}

a.progress-panel__brand {
    @media (hover:hover) {
        &:hover {
            color: var(--link-hover-color);
            text-decoration: none;
        }
    }

    &:active {
        color: var(--link-active-color);
        text-decoration: none;
    }
}

.progress-panel__course {
    flex-grow: 1;
    padding-block: calc(var(--site-block-padding, var(--ui-spacing-cushion)) / 2);
    z-index: 0;
}

.progress-panel__course-name {
    margin-block-end: var(--ui-spacing-unit, 1rem);
}

.progress-panel__course-progress {
    margin-block-end: var(--ui-spacing-unit, 1rem);
}

.progress-panel__course-progress-heading {
    font-family: var(--ui-typography-subheading-font-family);
    font-size: var(--typography-font-size-lower-1);
    font-weight: var(--ui-typography-subheading-font-weight);
    line-height: var(--ui-typography-subheading-line-height);
    text-transform: uppercase;
}