.resource-list {
    display: flex;
    flex-direction: column;
    gap: calc(var(--ui-spacing-unit)/2);
    list-style: none;
    max-inline-size: var(--spacing-32);

    a {
        display: block;
        background-color: var(--ui-color-background-surface);
        font-weight: bold;
        padding: calc(var(--ui-spacing-unit)/2) var(--ui-spacing-unit);
    }
}