.resource-list {
    --gap: calc(var(--spacing-unit)/2);
    max-inline-size: var(--spacing-32);

    a {
        display: block;
        background-color: var(--surface-card);
        font-weight: bold;
        padding: calc(var(--spacing-unit)/2) var(--spacing-unit);

        @media (prefers-contrast: more) {
            border: var(--border);
        }
    }
}