.resource-list {
    --gap: calc(var(--ui-spacing-unit)/2);
    max-inline-size: var(--spacing-32);

    a {
        display: block;
        background-color: var(--ui-color-background-surface);
        font-weight: bold;
        padding: calc(var(--ui-spacing-unit)/2) var(--ui-spacing-unit);
    }

    @media (prefers-contrast: more) {
        border: var(--ui-border);
    }
}