.stat {
    align-items: center;
    background-color: var(--surface-card);
    display: flex;
    gap: var(--spacing-unit);
    justify-content: space-between;
    padding: var(--spacing-unit);
    &[data-pc] {
        background-image: linear-gradient(to left, var(--surface-accent) var(--stat-progress), transparent var(--stat-progress));
    }

    @media (prefers-contrast: more) {
        border: var(--border);
    }
}

.stat-label {
    opacity: var(--opacity-muted, 0.8);
}

.stat-value {
    font-size: var(--heading-font-size);
    font-weight: bold;
    text-box: trim-both cap alphabetic;
    white-space: nowrap;
}