.testimonials-grid {
    display: grid;
    gap: var(--ui-spacing-breathe);
    grid-template-columns: repeat(auto-fill, minmax(min(var(--testimonial-width, 28rem), 100%), 1fr));

    @media screen and (width < 60em) and (hover: none) {
        display: flex;
        inline-size: 100vw;
        overflow: auto;
        overscroll-behavior-x: contain;
        margin-inline: calc(var(--ui-spacing-cushion) * -1);
        padding-inline: var(--ui-spacing-cushion);
        scroll-snap-type: x mandatory;

        .testimonial-card {
            flex: 1 0 90%;
            scroll-snap-align: center;
        }
    }
}

.testimonial-card {
    align-items: center;
    background-color: var(--ui-color-background-surface);
    display: flex;
    flex-direction: column;
    gap: var(--ui-spacing-unit);
    padding: var(--ui-spacing-cushion);
    text-align: center;
}

.testimonial-card__content {
    --prose-body-font-family: var(--ui-typography-body-alt-font-family);

    align-items: center;
    display: flex;
    flex: 1;
    font-size: 1.15em;
    font-style: italic;
}

.testimonial-card__author {
    font-size: var(--ui-typography-body-small-font-size);

    strong {
        font-weight: var(--ui-typography-body-strong-font-weight);
    }
}