@use "../theme/sassvars" as var;

.testimonial-card {
    align-items: start;
    background-color: var(--ui-color-background-surface);
    padding: var(--ui-spacing-cushion);
}

.testimonial-card__content {
    align-items: flex-start;
    display: flex;
    flex: 1;
    font-size: 1.15em;
}

.testimonial-card__author {
    font-size: var(--ui-typography-body-small-font-size);

    strong {
        font-weight: var(--ui-typography-body-strong-font-weight);
    }
}