:root {
    --color-blue-100: #ebf7ff;
    --color-blue-200: #c9ebff;
    --color-blue-300: #a1d7fa;
    --color-blue-400: #88bddf;
    --color-blue-500: #6da1c2;
    --color-blue-600: #588bac;
    --color-blue-700: #3a6d8c;
    --color-blue-800: #154b68;
    --color-blue-900: #002843;

    --color-purple-100: #f6eeff;
    --color-purple-200: #edd9ff;
    --color-purple-300: #d2bfe8;
    --color-purple-400: #b4a1c9;
    --color-purple-500: #9381a8;
    --color-purple-600: #816f94;
    --color-purple-700: #816f94;
    --color-purple-800: #4a395b;
    --color-purple-900: #2c1b3b;

    --color-olive-100: #f2fcbf;
    --color-olive-200: #e3edb1;
    --color-olive-300: #ced89c;
    --color-olive-400: #b5bf84;
    --color-olive-500: #9ba46a;
    --color-olive-600: #858e55;
    --color-olive-700: #676e36;
    --color-olive-800: #454b12;
    --color-olive-900: #454b12;
}