:root {
    // --color-aqua-100: #ddfff7;
    // --color-aqua-200: #a0ffeb;
    // --color-aqua-300: #84ecd5;
    // --color-aqua-400: #5fcfb8;
    // --color-aqua-500: #30aa94;
    // --color-aqua-600: #1e9d88;
    // --color-aqua-700: #00826f;
    // --color-aqua-800: #005d4d;
    // --color-aqua-900: #003126;

    --color-blue-100: #eaf7ff;
    --color-blue-200: #d5efff;
    --color-blue-300: #a5deff;
    --color-blue-400: #62c3fd;
    --color-blue-500: #379fd7;
    --color-blue-600: #2892ca;
    --color-blue-700: #0078ac;
    --color-blue-800: #005480;
    --color-blue-900: #002a47;

    --color-purple-100: #f8f2ff;
    --color-purple-200: #f1e5ff;
    --color-purple-300: #e3c8ff;
    --color-purple-400: #d09dff;
    --color-purple-500: #ad77e1;
    --color-purple-600: #a06bd4;
    --color-purple-700: #8553b5;
    --color-purple-800: #603388;
    --color-purple-900: #33124e;

    --color-olive-100: #f7fed4;
    --color-olive-200: #eef7bd;
    --color-olive-300: #d2df8a;
    --color-olive-400: #b5c169;
    --color-olive-500: #919d43;
    --color-olive-600: #859136;
    --color-olive-700: #6d761c;
    --color-olive-800: #4b5300;
    --color-olive-900: #252a00;

    // Old color palette versions

    // --color-blue-100: #ebf7ff;
    // --color-blue-200: #c9ebff;
    // --color-blue-300: #a1d7fa;
    // --color-blue-400: #88bddf;
    // --color-blue-500: #6da1c2;
    // --color-blue-600: #588bac;
    // --color-blue-700: #3a6d8c;
    // --color-blue-800: #154b68;
    // --color-blue-900: #002843;

    // --color-purple-100: #f6eeff;
    // --color-purple-200: #edd9ff;
    // --color-purple-300: #d2bfe8;
    // --color-purple-400: #b4a1c9;
    // --color-purple-500: #9381a8;
    // --color-purple-600: #816f94;
    // --color-purple-700: #816f94;
    // --color-purple-800: #4a395b;
    // --color-purple-900: #2c1b3b;

    // --color-olive-100: #f2fcbf;
    // --color-olive-200: #e3edb1;
    // --color-olive-300: #ced89c;
    // --color-olive-400: #b5bf84;
    // --color-olive-500: #9ba46a;
    // --color-olive-600: #858e55;
    // --color-olive-700: #676e36;
    // --color-olive-800: #454b12;
    // --color-olive-900: #454b12;
}